/* Estilos globales */
.home {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #ada3a3;
  color: #333;
  line-height: 1.6;
}

/* Encabezado */
.home-header {
  background-color: #39832e;
  color: #ffffff;
  text-align: center;
  padding: 5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.home-header h1 {
  font-size: 3.5rem;
  margin: 0;
  font-weight: bold;
}

.home-header .subtitulo {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 1rem;
  color: #f0f0f0;
}

/* Sección de cartas */
.home-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}

.home-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.3s ease-in-out;
}

.home-card:hover {
  transform: scale(1.05);
}

.home-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.home-card-content {
  padding: 1.5rem;
}

.home-card-content h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.home-card-content p {
  font-size: 1.1rem;
  color: #666;
}

/* Sección resumen */
.home-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #39832e;
  color: white;
  padding: 2rem;
  margin: 3rem 0;
  font-size: 1rem;
  border-radius: 8px;
  gap: 1rem;
}

.home-summary .imagen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-summary .imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.home-summary .texto {
  flex: 2;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .home-cards {
    flex-direction: column;
    align-items: center;
  }

  .home-card {
    width: 80%;
  }

  .home-header h1 {
    font-size: 2.5rem;
  }

  .home-header .subtitulo {
    font-size: 1.1rem;
  }

  .home-summary {
    flex-direction: column;
    text-align: center;
  }

  .home-summary .imagen {
    margin-bottom: 1rem;
  }

  .home-summary .texto {
    padding: 0;
  }
}